<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Corona Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <div class="d-flex flex-column justify-content-center">
        <h1>Corona Virus Tracker</h1>
        <p>Lists the current number of cases reported accross the globe.</p>
        <h3 th:text="${totalReportedCases}"></h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total Cases Reported</th>
            <th>Changes since Yesterday</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state} ? ${locationStat.state} : '-'"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPreviousDay}">0</td>
        </tr>
    </table>
</div>

</body>

</html>